{% extends "account_base.html" %}
 {% load widget_tweaks %} 
 {% load i18n %} 


{% block head_title %}{% trans "Change Passworddd" %}{% endblock %}

{% block content %}
{% if form.errors%}
<div class="row">
  <h3 class="display-8 text-center text-danger fancy_text5 col-12">error</h3>
  <div class="border border-danger border-right-0 border-left-0 p-4 col-10 mx-auto">
    {% for error in field.errors %}
    <h5 class="text-center fancy_text3">{{error|escape}}</h5>
    {% endfor %} {% for error in form.non_field_errors %}
    <h5 class="text-center fancy_text3">{{error|escape}}</h5>
    {% endfor %}
  </div>
</div>
<h4 class="text-center mb-4">{% trans "Change Password" %}</h4>
{% endif %}

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}
        <div class="form-group">
            <label class="mb-1"><strong>New password:</strong></label>
            <input
              type="text"
              class="form-control"
              placeholder="New Password"
              name="password1"
            />
          </div>
        <div class="form-group">
            <label class="mb-1"><strong>New Password (again):</strong></label>
            <input
              type="text"
              class="form-control"
              placeholder="New Password (again)"
              name="password2"
            />
          </div>

        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
