{% load static %}
{% comment %} {% load custom_tags %} {% endcomment %}
<style>
    .header {
        height: 5.5rem;
        background-color: transparent;
    }
</style>
<div class="nav-header no-print">
    <a href="{% url 'property:index' %}" class="brand-logo">
        {% comment %} href="{% static 'images/materialize.css' %}"> {% endcomment %}
        <img class="logo-abbr" src="{% static 'images/logo-short.png' %}" alt="">
        <img class="logo-compact" src="{% static 'images/logo-text.png' %}" alt="">
        <img class="brand-title" src="{% static 'images/logo-text.png' %}" alt="">
    </a>
    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>


<div class="header my-3 no-print">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between ">
                <div class="header-left">
                    <div class="dashboard_bar d-none">
                        <div class="search_bar dropdown">
                            <div class="dropdown-menu p-0 m-0">
                                <form>
                                    <input class="form-control" type="search" placeholder="Search Here"
                                        aria-label="Search">
                                </form>
                            </div>
                            <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M23.7871 22.7761L17.9548 16.9437C19.5193 15.145 20.4665 12.7982 20.4665 10.2333C20.4665 4.58714 15.8741 0 10.2333 0C4.58714 0 0 4.59246 0 10.2333C0 15.8741 4.59246 20.4665 10.2333 20.4665C12.7982 20.4665 15.145 19.5193 16.9437 17.9548L22.7761 23.7871C22.9144 23.9255 23.1007 24 23.2816 24C23.4625 24 23.6488 23.9308 23.7871 23.7871C24.0639 23.5104 24.0639 23.0528 23.7871 22.7761ZM1.43149 10.2333C1.43149 5.38004 5.38004 1.43681 10.2279 1.43681C15.0812 1.43681 19.0244 5.38537 19.0244 10.2333C19.0244 15.0812 15.0812 19.035 10.2279 19.035C5.38004 19.035 1.43149 15.0865 1.43149 10.2333Z"
                                        fill="#3B4CB8"></path>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>

                <ul class=" my-5 mr-3 bordery px-5 navbar-nav header-right " style="
                    border-radius: 70px;
                    background-color: white;
                    border: 1px solid #dbdef3;
">
                    {% comment %} {% if request.user.is_employee == False %} {% endcomment %}
                    {% comment %} {% show_notifications %} {% endcomment %}
                    {% comment %} {% endif %} {% endcomment %}

                    <li class="nav-item dropdown notification_dropdown">
                        <a class="nav-link " href="#" data-toggle="dropdown" aria-expanded="false"
                            style="background:#ffedd1;border-radius:100%">

                            <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" width="26" height="18"
                                viewBox="0 0 24 24" fill="none" stroke="#3b4cb8 " stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" fill="#3B4CB8"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>

                        </a>

                        <div class="dropdown-menu dropdown-menu-right" style="min-width: 12.5rem;padding: 15px 0;">
                            {% comment %} <a class="dropdown-item " href="{% url 'users:index' %}">
                                <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18"
                                    height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                                <span class="ml-2">My profile </span>
                            </a> {% endcomment %}
                            {% comment %} <a href="./email-inbox.html" class="dropdown-item ai-icon">
                                <svg id="icon-inbox" xmlns="http://www.w3.org/2000/svg" class="text-success" width="18"
                                    height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path
                                        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                    </path>
                                    <polyline points="22,6 12,13 2,6"></polyline>
                                </svg>
                                <span class="ml-2">Inbox </span>
                            </a> {% endcomment %}
                            <a href="{% url 'account_logout' %}" class="dropdown-item ">
                                <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18"
                                    height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                    <polyline points="16 17 21 12 16 7"></polyline>
                                    <line x1="21" y1="12" x2="9" y2="12"></line>
                                </svg>
                                <span class="ml-2">Logout </span>
                            </a>
                        </div>
                    </li>





                    <li class="nav-item dropdown header-profile">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                            {% if request.user.is_system_admin%}

                            <div class="header-info">
                                <span class="text-black">{{request.user.username}}</span>
                                <p class="fs-12 mb-0">Admin</p>
                            </div>
                            <img src="{{request.user.profile_user.image.url}}" style="border: 2px solid #adaaaa;"
                                width="20" alt="">
                            {% elif request.user.is_tenant %}
                            <div class="header-info">
                                <span class="text-black">{{request.user.tenant_user.name}}</span>
                                <p class="fs-12 mb-0">Tenant</p>
                            </div>
                            <img src="{{request.user.tenant_user.image.url}}" width="20" alt="">
                            <style>
                                .ps__thumb-y {
                                    display: none;
                                }
                            </style>
                            {% else %}
                            <div class="header-info">
                                <span class="text-black">{{request.user.profile_user.name}}</span>
                                <p class="fs-12 mb-0">User</p>
                            </div>
                            <img src="{{request.user.profile_user.image.url}}" width="20" alt="">
                            <style>
                                .ps__thumb-y {
                                    display: none;
                                }
                            </style>
                            {% endif %}
                        </a>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>