
<div class="table-extra my-2">
     <div class="row my-4 mx-3 pt-47 d-flex justify-content-end">
         <button class="btn btn-warning light  py-2 px-5 btn-rounded {{button_class}}" type="button"
             id="{{button_id}}"><span>{{button_text}}</span></button>
     </div>
     <div class="row my-3 mx-4 pt-47 d-flex justify-content-start">

         <h4 class="card-title  display-8" style="letter-spacing:1.6px;color: #7e7e7e!important;"><span
                 class="display-4 {{total_class}} fancy_text3">Please wait</span><span class="fancy_text4">
                     {{total_text}}</span></h4>
     </div>

 </div>