{% comment %} {{ greeting}} {% endcomment %}
<div class="card-body">
    <div class="table-responsive">
        <table id="property_table" class="display min-w850">
            <thead class="bg-primary">

            
                <tr>
                
                        {{table_row}}
                    {% comment %} <th>Property</th>
                    <th>Type</th>
                    <th>Owned by</th>
                    <th>Managed by</th>
                    <th> </th> {% endcomment %}
                </tr>

            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</div>